@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html {
  font-family: 'Inter', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: sans-serif;
}


/*COLORS*/
:root {
  --primary: #3498DB;
  --medium: #1D1D1D;
  --medium-light: #FFFFFFB2;
  --light: #FFFFFF;
  --dark: #000000;
}

